{% extends 'basic.html' %}


{% block title %}HOME{% endblock %}

{% block style %}
.jumbotron{
        padding: 1rem 1rem;

        }
        .display-4{
        font-family: "Times New Roman", Times, serif;
        }
        .lead{
        font-family:"Arial-Narrow";
        }
        label{
        font-family:"Arial-Narrow";
        font-size:10px;
        color:blue;
        }
        body{
        padding-top:80px;
        }
.display-4{
        font-size:30px;
        }
{% endblock %}

{% block body%}
<div class="container">
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-lg-11">
    <h6 class="display-4">{{ticket.title}}</h6>
          </div>

          <div class="col-lg-1">
   <div class="dropdown">
  <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action
  </button>
       <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="http://localhost:8000/edit/{{ticket.id}}/">Edit</a>
            <a class="dropdown-item" href="http://localhost:8000/assigned/{{ticket.id}}/">Assigned To</a>
            <a class="dropdown-item" href="http://localhost:8000/completed/{{ticket.id}}/">Completed By You</a>
            <a class="dropdown-item" href="http://localhost:8000/invalid/{{ticket.id}}/">Discard</a>
        </div>
    </div>
      </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
            <ul class="lead">
                Info:
                <li>Status:{{ticket.get_status_display}}</li>
                <li>Submitted On: {{ticket.time_submited}}</li>
                <li>Reported By: {{ticket.filed_by}}</li>
                <li>Assigned To: {{ticket.assigned_to}}</li>
                <li>Completed By: {{ticket.completed_by|default_if_none:""}}</li>
            </ul>
        </div>
        <div class="col-lg-7">
         <p class="lead">Description: {{ticket.Description}}</p>
        </div>
    </div>
  </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% endblock %}
